@use './scss/layout';
@use './scss/components/menu';

.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    /*transition: all 250ms ease;*/
    animation: 3s infinite alternate;
    margin: 5px;
}

  .dots label:hover {
    background: #fff;
  }

.fill{
  background-color: yellow;
}

/*------SLIDER------*/

.picture-slider{
  &__image{
      margin-top: 14px;
  };
  
  &__flex{
    display: flex;
  };

  &__scroller{
  overflow: hidden;
  };

  &__information-one{
   text-align: center;
  };

}