@use './scss/layout';
@use './scss/components/menu';

.picture-slider{
  display: flex;
  text-align: center;
  width: 100%;
  scroll-behavior: smooth;
  overflow: hidden;

    &__slide{
      width: 100%;
      flex-shrink: 0;
    }
    &__slide h2{
     font-size: 32px;
     padding: 0 1rem;
     text-wrap: pretty;
    }
    &__slide p{
     font-size: 18px;
     margin-top: 24px;
     margin-bottom: 36px;
     padding: 0 3rem;
     text-wrap: pretty;
    }

   &__image{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
   }
}

.scrollbar{
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin-top: 1rem;

  &__label{
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #c5c5c5;
  };

  &__label:has(.scrollbar__radio:checked){
    margin: 0 1.5rem;
  }
  &__label:has(.scrollbar__radio:checked)::after{
    content:'';
    display: block;
    width: 4rem;
    height: 100%;
    background-color: #4d861f;
    border-radius: 1rem;
    transform: translateX(-1.5rem);
   
  };
   
  &__radio{
    display: none;
  
  };
  }


.buttons{
  display: flex;
  gap: 2rem;
  justify-content: center;

  &__button{
    text-align: center;
    padding: 1rem 3rem;
    border: 2px solid;
    color: #4d861f;
    text-decoration: none;
    border-radius: 10rem;
    width: 100%;
  }
}