@use '../scss/layout';
@use '../scss/components/footer';
@use '../scss/components/header';

.searchbar{
    text-align: center;
    &__input{
        height: 46px;
        width: 345px;
        background-color: #D9D9D9;
        border: none;
        font-family: 'Open Sans';
        color: #222222;
        opacity: 40%;
        margin-bottom: 20px;
    }
}

.newsarticle-category{
    display: flex;
    align-items: center;
}

//collapsing section
.collapsible {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 18px;
    height: 60px;
    width: 100%;
    border: none;
    text-align: left;
    border-top: #C5C5C5 solid;
    border-bottom: #C5C5C5 solid;
    
  }
.collapsible h2{
    margin-left: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #404040;
    font-weight: 900;
}
  
  
  .content {
    padding: 8px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .collapsible:after {
    content: url(/public/img/feather_chevron-right.svg)
  }
  .active:after {
  content: url(/public/img/feather_chevron-down.svg);
}
