* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

.footer-navigation {
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  box-shadow: 0 -5px 7px -5px #333;
  align-items: center;
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-navigation__choosen {
  color: #4D861F;
}

.footer-navigation a {
  text-decoration: none;
  color: #404040;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 400;
}

.footer-navigation img {
  display: block;
  margin-inline: auto;
  margin-top: 10px;
}

.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 30px;
}

.home-logo h1 {
  margin-left: 10px;
  font-weight: 900;
  font-size: 24px;
  color: #404040;
  font-family: "Playfair Display";
}

.searchbar {
  text-align: center;
}
.searchbar__input {
  height: 46px;
  width: 300px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
  font-family: "Open Sans";
  color: #222222;
  opacity: 40%;
  margin-bottom: 20px;
  padding-inline: 5px;
}

.newsarticle-category {
  display: flex;
  align-items: center;
}

.collapsible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 18px;
  height: 60px;
  width: 100%;
  border: none;
  text-align: left;
  border-top: #C5C5C5 solid;
  border-bottom: #C5C5C5 solid;
}

.collapsible h2 {
  margin-left: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #404040;
  font-weight: 900;
}

.content {
  padding: 8px 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}

.collapsible:after {
  content: url(/public/img/feather_chevron-right.svg);
  transition: transform 0.3s ease;
}

.active:after {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.darkmode {
  text-align: center;
}
.darkmode__button {
  width: 345px;
  height: 65px;
  border-radius: 40px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  border: 2px solid #4D861F;
  background-color: white;
  color: #4D861F;
}

.setting-header {
  text-align: center;
  font-family: "Open Sans";
}
.setting-header__second-title {
  font-family: inherit;
  font-size: 32px;
  color: #4D861F;
  margin-bottom: 12px;
}
.setting-header__third-title {
  font-family: inherit;
  margin-bottom: 25px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4D861F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-onoff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 18px;
  height: 60px;
  width: 100%;
  border: none;
  text-align: left;
  border-top: 0.5px #C5C5C5 solid;
}
.settings-onoff__heading {
  display: flex;
  align-items: center;
}
.settings-onoff__text {
  margin-left: 10px;
  font-family: "Playfair Display";
  text-transform: uppercase;
  font-weight: 900;
}

.settings-onoff:nth-child(6) {
  border-bottom: 0.5px #C5C5C5 solid;
}/*# sourceMappingURL=settings.css.map */