@use '../scss/layout';
@use '../scss/components/footer';
@use '../scss/components/header';
@use '../scss/home.scss';

.darkmode{
  text-align: center;

  &__button{
    width: 345px;
    height: 65px;
    border-radius: 40px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    border: 2px solid #4D861F;
    background-color: white;
    color: #4D861F;
  }
}

.setting-header{
    text-align: center;
    font-family: 'Open Sans';

    &__second-title{
        font-family: inherit;
        font-size: 32px;
        color: #4D861F;
        margin-bottom: 12px;
    }
    &__third-title{
        font-family: inherit;
        margin-bottom: 25px;
    }
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4D861F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  //
  .settings-onoff{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 18px;
    height: 60px;
    width: 100%;
    border: none;
    text-align: left;
    border-top: 0.5px #C5C5C5 solid;

    &__heading{
        display: flex;
        align-items: center;
    }
    &__text{
        margin-left: 10px;
        font-family: 'Playfair Display';
        text-transform: uppercase;
        font-weight: 900;
    }
  }
  .settings-onoff:nth-child(6){
    border-bottom: 0.5px #C5C5C5 solid;
  }
  